{% extends "header.html" %}

{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev</a></li>
    <li role="presentation"><a href="#danalysis" aria-controls="danalysis" role="tab" data-toggle="tab">Data Analysis</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="basics">Basic Stuff Here
    </br>
  </br>
      <ul>
        {% for t in TOPIC_DICT["Basics"] %}
        <li><a href="{{ t[1] }}">{{ t[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="wdev"> Web Development</div>

    <div role="tabpanel" class="tab-pane fade" id="danalysis">Data Analysis</div>
  </div>

</div>

{% endblock %}
